<h1><%= notice %></h1>
<table>
	<tr>
		<th>COD</th>
		<th>Detalle</th>
		<th>Categoria</th>
		<th>Descuento</th>
		<th>Valor</th>
		<th>Impuestos</th>
		<th>Total</th>
	</tr>
	<tr>
		<th><%= @sale.cod %></th>
		<th><%= @sale.detail %></th>
		<th><%= @sale.value %></th>
		<th><%= @sale.discount %></th>
		<th><%= @sale.tax %></th>
		<th><%= @sale.total %></th>
	</tr>
</table>